@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

.underline-fade-in::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* left: 0.75rem;
  right: 0.75rem;
  width: calc(100% - 1.5rem); */
  height: 0.1rem;
  background-color: white;
  border-radius: 9999px;
  opacity: 0;
  transition:
    opacity 300ms,
    transform 300ms;
}

.underline-fade-in:hover::after,
.underline-fade-in:focus-visible::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.toaster {
  /* --width: unset !important;
  width: 100%; */
  display: flex;
  /* align-items: center; */

  &[data-x-position='center'] {
    justify-content: center;
  }

  &[data-x-position='left'] {
    justify-content: flex-start;
  }

  &[data-x-position='right'] {
    justify-content: flex-end;
  }
}

img {
  user-select: none;
  pointer-events: none;
}
