@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

.underline-fade-in::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* left: 0.75rem;
  right: 0.75rem;
  width: calc(100% - 1.5rem); */
  height: 0.1rem;
  background-color: white;
  border-radius: 9999px;
  opacity: 0;
  transition:
    opacity 300ms,
    transform 300ms;
}

.underline-fade-in:hover::after,
.underline-fade-in:focus-visible::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

.toaster {
  display: flex;

  &[data-x-position='center'] {
    justify-content: center;
  }

  &[data-x-position='left'] {
    justify-content: flex-start;
  }

  &[data-x-position='right'] {
    justify-content: flex-end;
  }
}

img {
  user-select: none;
  pointer-events: none;
}

button.highlight {
  filter: drop-shadow(0px 0px 4px rgb(234 88 12 / 0.1));
}

button.highlight-base {
  filter: drop-shadow(0px 0px 4px rgb(234 88 12 / 0));
}

.scroller {
  /* --scrollbar-color-thumb: theme('colors.zinc.600');
  --scrollbar-color-track: theme('colors.zinc.800'); */
  --scrollbar-width: 8px;

  transition:
    --scrollbar-color-thumb 0.15s ease-in-out,
    --scrollbar-color-track 0.15s ease-in-out;
}

@property --scrollbar-color-thumb {
  syntax: '<color>';
  inherits: true;
  initial-value: theme('colors.zinc.600');
}

@property --scrollbar-color-track {
  syntax: '<color>';
  inherits: true;
  initial-value: theme('colors.zinc.800');
}

.scroller-hidden {
  --scrollbar-color-thumb: transparent;
  --scrollbar-color-track: transparent;
}

.page-scroller {
  --scrollbar-width: 12px;
}

@supports selector(::-webkit-scrollbar) {
  .scroller::-webkit-scrollbar-thumb {
    border: 2px solid var(--scrollbar-color-track);
    border-radius: 999px;
    background-color: var(--scrollbar-color-thumb);
    /* cursor: grab; */
  }
  /* .scroller::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  } */

  .scroller::-webkit-scrollbar-track {
    border-radius: 999px;
    background-color: var(--scrollbar-color-track);
  }
  .scroller::-webkit-scrollbar {
    max-width: var(--scrollbar-width);
    max-height: var(--scrollbar-width);
  }

  .scroller-settings::-webkit-scrollbar-track {
    margin-right: 0.75rem;
  }

  .page-scroller::-webkit-scrollbar-thumb {
    border-left: 3px solid var(--scrollbar-color-track);
  }
  .page-scroller::-webkit-scrollbar-track {
    border-radius: 0;
  }
}

[data-sonner-toast][data-styled='true'][data-type='warning'] [data-button] {
  @apply bg-amber-800 text-amber-100 !shadow-none transition will-change-transform hover:bg-amber-900 focus-visible:ring focus-visible:ring-amber-500/75 active:scale-95 active:bg-amber-900;
}

[data-sonner-toast][data-styled='true'][data-type='warning']
  [data-close-button] {
  @apply outline-none transition-shadow focus-visible:ring focus-visible:ring-amber-500/85;
}

[data-sonner-toast][data-styled='true'][data-type='error'] [data-button] {
  @apply bg-red-800 text-red-100 !shadow-none transition will-change-transform hover:bg-red-900 focus-visible:ring focus-visible:ring-red-500/75 active:scale-95 active:bg-red-900;
}

[data-sonner-toast][data-styled='true'][data-type='error'] [data-close-button] {
  @apply outline-none transition-shadow focus-visible:ring focus-visible:ring-red-500/85;
}

[data-sonner-toast][data-styled='true'][data-type='info'] [data-button] {
  @apply bg-blue-800 text-blue-100 !shadow-none transition will-change-transform hover:bg-blue-900 focus-visible:ring focus-visible:ring-blue-500/75 active:scale-95 active:bg-blue-900;
}

[data-sonner-toast][data-styled='true'][data-type='info'] [data-close-button] {
  @apply outline-none transition-shadow focus-visible:ring focus-visible:ring-blue-500/85;
}

[data-sonner-toast][data-styled='true'][data-type='success']
  [data-close-button] {
  @apply outline-none transition-shadow focus-visible:ring focus-visible:ring-green-500/85;
}
